.container{
    display: flex;
    gap: 100px;
}
.img{
    border-radius: 20px;
}
.imgContainer{
    /* flex: 1; */
    width: 500px;
    height: 500px;
    position: relative;
    height: calc(100vh  -  200px);
}
.textContainer{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.title{
    font-size: 64px;
}

.detail{
    display: flex;
    
    gap: 20px;
}

.avatar{
    object-fit: cover;
    border-radius: 50%;
}
.detailText{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detailTitle
{
    color: gray;
    font-weight: bold;
}
.detailValue{
    font-weight: 500;
}

.content
{
    font-style: 20px;
}

@media (max-width:768px){
    .imgContainer{
      display: none;
    }
  }