.container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: absolute;
   bottom: 0;
   width: 84%;
   height: 100px;
}
.logo{
    font-weight: bold;
}
.text{
    font-size: small;
}
@media (max-width:768px){
    .container{
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  }